services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ compute, utility, gpu ]
    volumes:
      - ./outputs:/app/outputs
      - ./inputs:/app/inputs
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - OLLAMA_BASE_URL=http://host.docker.internal:11434

  frontend:
    build:
      context: ./gui
      dockerfile: Dockerfile
    ports:
      - "80:80"
    depends_on:
      - backend
